<div class="container mt-4 p-5 bg-light text-black rounded text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Персональний менеджер фінансів</h1>
    <p class="lead mb-4">За допомогою цього додатку ти зможеш легко керувати своїми фінансами!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= link_to "Додати нову транзакцію", new_operation_path, class: "btn btn-info btn-lg px-4 gap-3" %>
        <%= link_to "Всі транзакції", operations_path, class: "btn btn-outline-info btn-lg px-4" %>
     </div>
</div>
