<div class="container mt-4 p-5 bg-light text-black rounded">
  <h1>Реєстрація інформації про категорію доходів/витрат</h1>

  <%= render "form", category: @category %>
  
  <br>

  <%= link_to "До списку категорій", categories_path, class: "btn btn-info" %>
</div>
