<div class="container mt-4 p-5 bg-light text-black rounded">
  <h1>Реєстрація інформації про транзакцію</h1>
  <%= render "form", operation: @operation %>
  <br>
  <%= link_to "До списку транзакцій", operations_path, class: "btn btn-info" %>
</div>